<%= form_for @user,:url => changepassword_path,:method => :post  do |f| %>
<input type="hidden" name="_method" value="post" />

<div class="content-box">
  <span class="alt">Change your Password</span><span class="text-info-small lightgrey">All fields are mendatory</span><br/>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this password from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<span class="text-info-small">
Empty form submission will not change the password
</span>
 <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field  :password_confirmation %>
    </div>
 
  
    <%= f.submit("Change") %>
   
  </div>
  <%end%>
