<div class="content-box">
<div class="box-margins">
 <span class="alt">Edit User Information </span><span class="text-info-small lightgrey">All * marked fields are mendatory</span><br/>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited in user registration</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />

  <div class="field">
    <%= f.label :first_name  %><br />
    <%= f.text_field :first_name%>*
  </div>
  
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>*
  </div>
  <div class="field">
    <%= f.label :login, 'Username/Login' %> <br />
    <%= f.text_field :login %>*
  </div>
   <div class="field">
    <%= f.label :email %> <br />
    <%= f.text_field :email %>*
  </div>
    
  <div class="field">
      <%= f.label :address1 %><br />
      <%= f.text_field  :address1 %>
    </div>
  
  <div class="field">
      <%= f.label :address2 %><br />
      <%= f.text_field  :address2 %>
    </div>
    
  <div class="field">
      <%= f.label :city,"City/Town" %><br />
      <%= f.text_field  :city %>
    </div>
    
  <div class="field">
      <%= f.label :county,"County/State" %><br />
      <%= f.text_field  :county %>
    </div>
       
  <div class="field">
      <%= f.label :post_code %><br />
      <%= f.text_field  :post_code ,:size=>5%>
    </div>
 
    
  <div class="field">
      <%= f.label :country %><br />
      <%= f.text_field  :country %>
    </div>
    
  <div class="field">
      <%= f.label :tel_number %><br />
      <%= f.text_field  :tel_number %>
    </div>
 
  <div class="field">
      <%= f.label :mobile_number %><br />
      <%= f.text_field  :mobile_number %>
    </div>
 
  <div class="field">
      <%= f.label :date_of_birth %><br />
      <%= f.date_select  :date_of_birth, :start_year => Date.today.year-110, :end_year => Date.today.year-1,:include_blank => true%>
    </div>
    
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
</div>
