<!-- Add New Document Form -->
<div id="input-box-info" class="span-7 input-box-info">
  Some input instructions will go here
</div>

<div id="input-box-narrow" class="span-17 input-box-narrow last">

  <span class="">Stock Number </span><%= f.text_field :stocknumber, :size=> 15 , :class => 'input-form-input' %>
  <span class="">Name <%= f.text_field :name, :size => 50, :class => 'input-form-input' %><br>
  <span class="">Type </span><%= f.collection_select :document_type_id, DocumentType.alphabetically, :id, :name, :prompt => true, :class => 'input-form-input' %>
  <span class="last">Status </span><%= f.collection_select :document_status_id, DocumentStatus.alphabetically, :id, :name, :prompt => true, :class => 'input-form-input' %> </span>

</div>

<hr />

<!-- Inventory Purchase Information -->
<div class="content-box">
  <span class="alt">Your Purchase Info</span><span class="text-info-small lightgrey">Optional. How you acquired this item. This is used for providing you with reports, and is never made public.</span><br/>
  <span class="input-form-label">Date </span>
        <%= f.text_field :purchase_date, :size => 10, :class => 'input-form-input' %>
  <span class="input-form-label">  |  Vendor </span><%= f.text_field :purchase_vendor, :size => 65, :class => 'input-form-input' %>
  <span class="input-form-label">  |  Purchase Price </span><%= f.text_field :purchase_price, :size => 10, :class => 'input-form-input' %>
  <hr />
  <!-- Inventory Sale Information -->
  <!-- Not Implemented -->
  <span class="alt">Your Sale Info</span><span class="text-info-small lightgrey">Optional. Sale details for this item. This is used for providing you with reports, and is never made public.</span><br/>
  <span class="input-form-label">Date </span><%= f.text_field :sale_date, :size => 10, :class => 'input-form-input' %>
  <span class="input-form-label">  |  Purchaser </span><%= f.text_field :sale_purchaser, :size => 65, :class => 'input-form-input' %>
  <span class="input-form-label">  |  Sale Price </span><%= f.text_field :sale_price, :size => 10, :class => 'input-form-input' %>
</div>  

<hr />

<!-- Document Information -->
<div class="content-box">
  <span class="alt">Document Publishing Information</span><span class="text-info-small lightgrey">Information relating to the published aspects of your item</span><br />
  <span class="input-form-label">Title </span><%= f.text_field :title, :size => 100, :class => 'input-form-input' %>
  <span class="input-form-label">  |  Edition </span><%= f.text_field :edition, :size =>5, :class => 'input-form-input' %>  </span><br />
  <span class="input-form-label">Pages </span><%= f.text_field :pages, :size => 10, :class => 'input-form-input' %> </span>
  <span class="input-form-label">Length (mm) </span><%= f.text_field :length, :size => 10, :class => 'input-form-input' %> </span>
  <span class="input-form-label">Width (mm) </span><%= f.text_field :width, :size => 10, :class => 'input-form-input' %> </span>
  <span class="input-form-label">Depth (mm) </span><%= f.text_field :depth, :size => 10, :class => 'input-form-input' %> </span>
  <span class="input-form-label">Weight (g) </span><%= f.text_field :weight, :size => 10, :class => 'input-form-input' %> </span>
  <hr />
  <% f.fields_for :attribute_documents do |doc_attr| %>
    <%= render :partial => 'attribute_document_fields', :locals => {:f => doc_attr}  %>
  <% end %>
  <span class=""><%= link_to_add_fields "+ add another attribute", f, :attribute_documents %></span>
  <span class="input-form-label">Condition  </span><%= f.text_field :condition, :class => 'input-form-input'  %>
  <span class="input-form-label">Binding </span><%= f.text_field :binding,  :class => 'input-form-input'  %>
  <span class="input-form-label">Comments </span><%= f.text_field :comment,  :class => 'input-form-input'  %>
</div>

<hr />

<!-- Photo Upload -->
<div class="content-box" style="min-height:45px">
    <span class="alt">Add Photos</span> 
	<div style="clear:left"></div>
	 
	 <% if !@document.blank? && !@document.document_photos.blank? && !@document.new_record? %>
            <% @document.document_photos.each do |photo|  %>
			<div style="float:left; width:120px; text-align:center">
					<%= image_tag photo.photo.url(:small) %><br />
					<a href="/document_image_remove/<%= photo.id%>" onclick="return confirm('Are you sure?')">Remove</a>
			</div>
			<% end %>
		   <div style="clear:left"></div>
        <% else%>
	<% f.fields_for :document_photos do |document_photo| %>
		<%= render :partial => 'document_photo_fields', :locals => {:f => document_photo} %>
    <% end %>

		<% end %>
	
     <div class="">
        <span class=""><%= link_to_add_fields "+ Add new photo", f, :document_photos  %></span>
     </div>	
</div>

<hr />

<!-- Add person -->
<div class="span-1 content-box">
    <span class="alt">Add Person</span><span class="text-info-small lightgrey">Enter details about every person listed in your document</span><br />
    <% f.fields_for :people do |person_attr| %>
        <%= render :partial => 'person_fields', :locals => {:f => person_attr}  %>
    <% end %>    
    <div class="span-1" style="width:100%"><%= link_to_add_fields "+ add another person", f, :people  %></div>
</div>


<hr />

<!-- Add Other Locations -->
<div class="content-box">
    <span class="alt">Add Other Locations</span><span class="text-info-small lightgrey">Add any other Locations mentioned in the document, not already added</span><br />
      <% f.fields_for :locations do |location_attr| %>
        <%= render :partial => 'location_fields', :locals => {:f => location_attr} %>
      <% end %>
     <div class="">
        <span class=""><%= link_to_add_fields "+ add another location", f, :locations  %></span>
     </div>
</div>

